@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Black.ttf') format('truetype');
    font-weight: 900;
}



